/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
}
p {
  font-family: 'Mulish', sans-serif;
}

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background-color: white; !important;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 185px;
}
.nav-item {
  margin: 0px 15px;
}



/* Navigation links */
.customNav a {
  color: #334E58 !important;
}
.navCTA {
  font-size: 15px;
  font color: #FFFFFF !important;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}


/* Jumbotron
   figure out how to align text on the right*/

#ProjectPageHeroGrid {
  display: grid;
  min-height: 500px;
  height: 10em;
  width: 100vw;
  grid-template-columns: 40% 60%;
  grid-template-areas:
  "jumbotronImage pageheaderText";
}


#JumbotronImage{
  grid-area: jumbotronImage;
  background-image: url("../images/woman-knitting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 30em;*/
  width: 95vw;
  display: flex;
  align-items: left;
  justify-content: center;

}

/*.jumbotronImage{
  height: 30em;
  width: 85vw;
}*/

#pageheaderText {
  grid-area: pageheaderText;
  width: 46vw;
  background-image: url("../images/HeaderRec.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25.75em;
  align-items: center;
  justify-content: center;

}

.pageheaderText{
  grid-area: pageheaderText;
  /*width: 60%;*/
  width: 46vh;
  color: black;
  text-align: left;
  position: absolute;
  right: 0px;
  top: 90px;
  padding-left: 10%;
  padding-top: 8%;
  z-index: 100;
  justify-content: center;
    }
.pageHeading{
  margin-left: 40px;
}

.headerBlurb{
  margin-left: 40px;
}

#searchSort{
  display: grid;
  min-height: 25px;
  height: 65px;
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "sortRow searchRow"
}

/* Cards */
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
}
.showsNear  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
}

/*search field*/

/*.form-inline{
  align: right;
}*/


/* Content */



/* Carousel for Charity */
.charities {
  height: 250px;
  background-color: #F6F6F6;
  justify-content: center;
  padding: 40px;
}

.carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.charity-logo {
  padding-top: 55px;
  width: 100px;
  height: 100px;
}

/* Charity Drive Cards */

.card-title{
  text-align: left;
}

.card-description{
  text-align: left;
}

.tracker{
 padding: 0px 30px 30px 30px
 }

/* Footer */
.emailContain {
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

/* Footer form */
/*form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}*/
.nav-item.active{
font-type: Mulish;
font-color: black;
}



/*search in project page*/
#searchField{
  color: black;
  background-color: white;
  border-color: #D6E4EC;
  padding: 10px;
  width: 375px;
  text-align: left;
/*  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px; */
}




/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: 1px;
  ;
}

.dropdown-toggle{
  color: black;
}

.btn-secondary {
    color: black;
    background-color: white;
    border-color: #D6E4EC;
    padding: 10px;
    width: 375px;
    text-align: left;
}

#searchSort{
  margin-left: 65px;
  margin-top: 65px;
}
/*This was Vandana Trying to figure out how to move the arrow

.dropdown-toggle {
    display: inline-block;
    margin-left: 50%;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    text-align: right;
}*/

/**/
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #EBFAF9;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}

@media screen and (max-width: 997px) and (min-width: 0px) {
  #jumbotronImage {
    background-image:  none;
    width: 0px;
  }
  #pageheaderText {
    width: 100vw;
    z-index: 1;
    background-image: url("../images/BlueRec.png");
}
  .pageheaderText {
    padding: 5%;
    margin-left: 10px;
  }
  }







