body {
  font-family: 'Mulish', sans-serif;
  color: #334E58;
}
/* Header Styles */
.header {
  background-image: url(../images/KnittingGroup.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 500px;
  height: 350px;
  background-position: center;
}
#pageTopic {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
/* Primary Color */
.colorContainer {
  display: inline-block;
  margin: 15px;
}
.swatch {
   height: 170px;
   width: 170px;
   border: 1px solid black;
}
.hexCode {
   padding: 15px;
   text-align: center;
/*   border: 1px solid black;*/
   border-top: none;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
}
.primaryBlue {
  background-color: #6ADCD5;
}
.primaryDarkBlue {
  background-color: #334E58;
}
.primaryMustard {
  background-color: #F6C35D;
}
.secondaryGrey {
  background-color: #6B6D76;
}
.secondaryCoral {
  background-color: #F6C3B7;
}
.primaryCoral {
  background-color: #FF6B6C;
}
.secondaryBlueTint {
  background-color: #EBFAF9;
}
.successGreen {
  background-color: #C0E7A9;
}
.backgroundGrey {
  background-color: #F6F6F6;
}
/* Typography CSS */
.type_container {
   display: inline-block;
   margin: 20px;
}
.large {
    font-size: 48px;
    margin-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 0;
}
.light {
    font-weight: 100;
}
.regular {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.typography h1 {
    font-weight: 700;
    font-size: 48px;
}
.typography h2 {
    font-weight: 700;
    font-size: 42px;
}
.typography h3 {
    font-weight: 700;
    font-size: 34px;
}
.typography h4 {
    font-size: 26px;
}

/* UI Elements */
.button {
   display: inline-block;
   padding: 15px;
   margin: 10px;
   width: 150px;
   border-radius: 4px;
   font-size: 16px;
   text-align: center;
   color: #000000;
}
.primary {
  background-color: #6ADCD5;
}
.success {
  background-color: #F6C35D;
}
.danger {
  background-color: #F84848;
}
.warning {
  background-color: #FFFFFF;
   border: 2px solid #6ADCD5;
}
.info {
  background-color: #0099FA;
}
.primaryActive {
  background-color: #00D1C5;
}
.successActive {
  background-color: #DD9300;
}
.dangerActive {
  background-color: #AD4848;
}
.warningActive {
  background-color: #EBFAF9;
  border: 2px solid #6ADCD5;
}
.infoActive {
  background-color: #4386BA;
}
.sectionHead {
  border-bottom: 8px solid #EBFAF9;
}


.icons {
  width: 75px;
  margin: 10px;
}
.social {
  width: 30px;
  margin: 10px;
}
.photo {
  display: inline-block;
  padding: 15px;
  margin: 10px;
  width: 350px;
}
.photo-feature {
  display: inline-block;
  padding: 15px;
  margin: 10px;
  width: 1155px;
}
