/*socks project CSS*/
/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
  text-align: left;
}
body {
  font-family: 'Mulish', sans-serif;
  color: #334E58;
}
h1 {
    font-weight: 700;
    font-size: 48px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
}
h3 {
    font-weight: 600;
    font-size: 32px;
}
h4 {
    font-weight: 400;  
    font-size: 24px;
}
h5 {
    font-weight: 600;  
    font-size: 16px;
}
h6 {
    font-weight: 400;  
    font-size: 12px;
}
p {
  font-weight: 400;  
  font-size: 16px;
  text-align: left;
}

/* Colours for links */
/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #334E58;
}

/* mouse over link */
a:hover {
  color: #6ADCD5;
}

/* selected link */
a:active {
  color: #334E58;
}


.btn-info {
  background-color: #6ADCD5;
  border: 0px;
}
.btn-outline-info {
  background-color: white;
  border: solid 2px #6ADCD5;
}

hr {
  border: 3px #F6C35D;
 }


/* Colours for Buttons */
 .btn-info {
  background-color: #6ADCD5;
  border: 0px;
}

.btn-outline-info {
  border: solid 2px #6ADCD5;
  background-color: white;
}

.btn-warning {
  background-color: #F6C35D;
}

/* size for buttons */
#btn-special{
  width: 255px;
  margin-bottom: 15px;
}



/* Navigation bar */
/* General */
.customNav {
  position: absolute;
  width: 100%;
  background-color: white; !important;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 185px;
}
.nav-item {
  margin: 5px 10px;
}
.profile {
  width: 40px;
  padding: 0px;
}
.navbar{
  padding: 0px;
}


/* Navigation links */
.customNav a {
  color: #334E58 !important;
}
.navCTA {
  font-size: 14px;
  font color: #FFFFFF !important;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}




.row .col-5{
  margin:auto;
}

/* jumbotron attempt 3 */
#ProjectPageHeroGrid {
  display: grid;
  min-height: 500px;
  height: 20em;
  width: 100vw;
  grid-template-columns: 60% 40%;
  grid-template-areas:
  "jumbotronImage pageheaderText"
}

#JumbotronImage{
  background-image: url("../images/sockProject2.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 30em;*/
  width: 65vw;
  display: grid;
  align-items: left;
  justify-content: center;
}

/*.jumbotronImage{
  height: 30em;
  width: 85vw;
}*/

#pageheaderText {
  grid-area: pageheaderText;
  width: 45vw;
  background-image: url("../images/HeaderRec.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 26.75em;
  align-items: center;
  justify-content: center;
}
.pageheaderText{
  grid-area: pageheaderText;
  width: 46vh;
  color: #334E58;
  text-align: left;
  position: absolute;
  right: 0px;
  top: 74px;
  padding-left: 10%;
  padding-top: 8%;
  z-index: 100;
  justify-content: center;
}
.pageHeading{
  margin-left: 40px;
}
.headerBlurb{
  margin-left: 40px;
}



/* Progress Bar */
.progress{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 10pt;
  width: 25vw;
}



/* Cards */
#DescriptionRequirements{
  margin-top: 40px;
}
.sectionHeading {
  text-align: left;
}
.spacing {
  padding-top: 75px;
}

/*.blogCards  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
  padding: 15px;
}*/

/*.ProjectHeading H2{
  font size: 45px;
  font-weight: 700;
}*/

/* Content attempt 2 */
/*.row {
  margin: 24px;
  margin-top: 40px;
  margin-bottom: 32px;
}*/
/*.col-8  {
  margin: 5px;
  max-width: 50%;
}

.col-4{
  max-width: 100%;
  margin: 5px;
}

col-12{
  width: 100vw;
}*/


/* cards - tracy */

.con-chunk {
  margin-top: 48px;
  margin-bottom: 48px;
}
.col-sm {
  margin-left: 10px;
  margin-right: 10px;
}
.yellowCard {
  padding: 20px;
  background-color: #EBFAf9;
}


/*.details{
  font-size: 20px;
}*/

.socksMaterial{
  text-align: left;
}
.card-body{
  background-color: #EBFAF9;
}


.col .profileImage {
display: block;
margin-left: auto;
}

.col .profileCathy{
  margin-right: auto;
  width: 70%;
}

.col P.profileCathy {
  border-left: 5px #F6C35D;
  border-style:  none none none solid;
  padding-left: 8px;

}

.special-section{
  margin: 80px;
}



.col-sm h4{
  margin-bottom: 50px;
}*/




/* Carousel for Charity */
.charities {
  height: 250px;
  background-color: #F6F6F6;
  justify-content: center;
  padding: 40px;
}

.carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.charity-logo {
  padding: 25px;
  width: 150px;
}






/* Footer Attempt 2 */
#button-addon1 {
  color: #ffc371;
}

.bg-icon {
  background-color: #EBFAF9;  
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}


.form-group img{
  padding: 5px;
}
.text-center {
  text-align: center;
}


footer .container {
    background-color: #EBFAF9;  
}





/* Media queries */
@media screen and (max-width: 992px) and (min-width: 0px) {
  #jumbotronImage {
    background-image:  none;
    width: 0px;
  }
  #pageheaderText {
    width: 100vw;
    z-index: 1;
    background-image: url("../images/BlueRec.png");
}
  .pageheaderText h1 h3 p{
    padding: 5%;
    margin: 40px;
  }

/*  .col-3 img{
 margin-left: 0px;
     width: 140px;*/

}
}

/*@media screen and (max-width: 500) and (min-width:  0px) {
  .col-3 img{
    padding: 500px;
  }
}*/








