/* Thank you - Success Page CSS */
/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
  text-align: left;
}
body {
  font-family: 'Mulish', sans-serif;
  color: #334E58;
}
h1 {
    font-weight: 700;
    font-size: 48px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
}
h3 {
    font-weight: 600;
    font-size: 32px;
}
h4 {
    font-weight: 400;  
    font-size: 24px;
}
h5 {
    font-weight: 600;  
    font-size: 16px;
}
h6 {
    font-weight: 400;  
    font-size: 12px;
}
p {
  font-weight: 400;  
  font-size: 16px;
  text-align: left;
}

/* Colours for links */
/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #334E58;
}

/* mouse over link */
a:hover {
  color: #6ADCD5;
}

/* selected link */
a:active {
  color: #334E58;
}

hr {
  border: 3px #F6C35D;
 }

.btn-info {
  background-color: #6ADCD5;
  border: 0px;
}
.btn-outline-info {
  background-color: white;
  border: solid 2px #6ADCD5;
}


/* Navigation bar */
/* General */
.customNav {
  position: absolute;
  width: 100%;
  background-color: white; !important;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 185px;
}
.nav-item {
  margin: 5px 10px;
}
.profile {
  width: 40px;
  padding: 0px;
}
.navbar{
  padding: 0px;
}


/* Navigation links */
.customNav a {
  color: #334E58 !important;
}
.navCTA {
  font-size: 14px;
  font color: #FFFFFF !important;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}


.button-center {
  text-align: center;
}



/* Jumbotron 3  */
.jumbotron {
  background-image: url("../images/Knit-square.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(75vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumboCopy {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  width: 70%;
  padding: 48px;
  padding-top: 48px;
  padding-bottom: 32px;
  min-width: 500px;
  max-width: 700px;
  text-align: center;
}

.jumboCopy h5 {
  text-align: center;
  padding-bottom: 24px;
}

.underline {
  padding-top: 5px;
  border-bottom: 6px solid #6ADCD5;
}

#thankYouIcon {
  width: 10%;
  padding-bottom: 15px;
}


/* Cards */
.sectionHeading {
  text-align: center;
}
.spacing {
  padding-top: 75px;
}

/*.blogCards  {
  padding: 0px 30px 30px 30px;
}*/
.cardContainer {
  text-align: center;
  padding: 15px;
}


/* Content attempt 2 */
.row {
  /*margin: 24px;*/
  margin-top: 60px;
  margin-bottom: 48px;
}
.col-3 .row {
  margin: 5px;
}
.row .special-section {
  margin-top: 25px;
}

#btn-special{
  width: 175px;
}

/* Progress Bars */
.bg-info {
    background-color: #6ADCD5!important;
}
.progress-bar {
  color: black;
}
.progress{
  margin-bottom: 30px;
  font-size: 10pt;
}



.special-section {
  margin-bottom: 48px;
}



/* Footer */
#button-addon1 {
  color: #ffc371;
}

.bg-icon {
  background-color: #EBFAF9;  
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-group img{
  padding: 5px;
}
.text-center {
  text-align: center;
}





/* Media queries */

@media screen and (max-width: 997px) and (min-width: 0px) {

.progress{
  margin-bottom: 30px;
  font-size: 8pt;
}

.jumboCopy {
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 24px;
  min-width: 400px;
  max-width: 600px;
}
.jumboCopy H1 {
  font-size: 36px;
}

.jumboCopy h5 {
  text-align: center;
  padding-bottom: 24px;
}

#thankYouIcon {
  padding-top: 20px;
}
