/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
}
h1 {
  font size: 45px;
  font-weight: 700;
}
p {
  font-family: 'Mulish', sans-serif;
}

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background-color: white; !important;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 185px;
}
.nav-item {
  margin: 0px 15px;
}



/* Navigation links */
.customNav a {
  color: #334E58 !important;
}
.navCTA {
  font-size: 15px;
  font color: #FFFFFF !important;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}


/* Jumbotron
   figure out how to align text on the right*/

.jumbotron {
  background-image: url(../images/KnittingGroup.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(75vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}
.btn-info {
  color: #000000;
  background-color: #6ADCD4;
  border-color: #6ADCD4;
}
/*.btn-width {
  width: 200px;
}*/

/* Cards */
.sectionHeading {
  text-align: center;
}
.spacing {
  padding-top: 75px;
}

.blogCards  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
}

/* Content */
.container-fluid {
  display: flex;
/*  padding: 2vh;*/
  margin: 24px;
  width: 100%;
}
.flex-row {
  flex-direction: row;
  display: inline-flex;
  padding: 15px;
  flex-basis: 75%;
}
.flex-row .text{
  padding: 0px;
  justify-content: center;
}

.flex-row-head{
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.flex-column{
  flex-direction: column;
  width: 100%;
}
.flex-column-button {
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
}
.flex-column-button .btn {
  margin-top: 18px;
  margin-bottom: 2px;
}
.button-center {
/*  display: flex;*/
  align-items: center;
}
/*.test-button {
  width: 45%;
  height: 40px;
  background-color: red;
}
.test-button-outline {
  width: 45%;
  height: 40px;
  border-color: red;
  border-width: 2px;
}*/

/* Carousel for Charity */
.charities {
  height: 250px;
  background-color: #F6F6F6;
  justify-content: center;
  padding: 40px;
}

.carousel-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.charity-logo {
  padding: 25px;
  width: 150px;
}


/* Footer */
.emailContain {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}


/* Footer form */
form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #EBFAF9;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
