/*Prject CSS*/


/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
  text-align: left;
}
h1 {
  font size: 45px;
  font-weight: 700;
}
p body {
  font-family: 'Mulish', sans-serif;
  text-align: left;
}


/* Colours for links */
/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #334E58;
}

/* mouse over link */
a:hover {
  color: #6ADCD5;
}

/* selected link */
a:active {
  color: #334E58;
}

hr {
  border: 3px #F6C35D;
 }



/* Colours for Buttons */
 .btn-info {
  background-color: #6ADCD5;
  border: 0px;
}
.btn-outline-info {
  border: solid 2px #6ADCD5;
  background-color: white;
}

.btn-warning {
  background-color: #F6C35D;
}

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background-color: white; !important;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 185px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation bar */

/* General */
.customNav {
  position: absolute;
  width: 100%;
  background-color: white; !important;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 185px;
}
.nav-item {
  margin: 0px 15px;
}
.navbar{
  padding: 0px;
}
.button-center {
  text-align: center;
}



/* Navigation links */
.customNav a {
  color: #334E58 !important;
}
.navCTA {
  font-size: 14px;
  font color: #FFFFFF !important;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}



/* Jumbotron
   figure out how to align text on the right*/

#ProjectPageHeroGrid {
  display: grid;
  min-height: 500px;
  height: 10em;
  width: 100vw;
  margin-bottom: 32px;
  grid-template-columns: 60% 40%;
  grid-template-areas:
  "jumbotronImage pageheaderText";
}


#JumbotronImage{
  grid-area: jumbotronImage;
  background-image: url("../images/woman-knitting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 30em;*/
  width: 100vw;
  display: grid;
  align-items: left;
  justify-content: center;

}

/*.jumbotronImage{
  height: 30em;
  width: 85vw;
}*/

#pageheaderText {
  grid-area: pageheaderText;
  width: 45vw;
  background-image: url("../images/HeaderRec.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 26.75em;
  align-items: center;
  justify-content: center;
}

.pageheaderText{
  grid-area: pageheaderText;
  width: 46vh;
  color: black;
  text-align: left;
  position: absolute;
  right: 0px;
  top: 74px;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  z-index: 100;
  justify-content: center;
    }
.pageHeading{
  margin-left: 40px;
}
.headerBlurb{
  margin-left: 40px;
}

/*the search /sort area attempt 1*/
/*#searchSort{
  display: grid;
  min-height: 25px;
  height: 65px;
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "sortRow searchRow"
}
*/
/*search field*/

/*.form-inline{
  align: right;
}*/

/*search in project page*/
/*#searchField{
  color: black;
  background-color: white;
  border-color: #D6E4EC;
  padding: 10px;
  width: 375px;
  text-align: left;*/
/*  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px; */
}

/*.btn-secondary {
    color: black;
    background-color: white;
    border-color: #D6E4EC;
    padding: 10px;
    width: 375px;
    text-align: left;
}*/


/*moving the arrow*/

.dropdown-toggle::after {
   display: inline-block;
   margin: .5em;
   vertical-align: .255em;
   content: "";
   border-top: .3em solid;
   border-right: .3em solid transparent;
   border-bottom: 0;
   border-left: .3em solid transparent;
   right: 10px;
   position: absolute;
}

/*CSS */
/* Search bar Test */
.dropdown-toggle {
  width: 100%;
  text-align: left;
  background-color: #FBFBFB;
  border: solid 2px #D6E4EC;
  color: black;
  margin-bottom: 10px;
}
.dropdown-menu {
  width: calc(100% - 5%);
}
.form-control {
  background-color: #FBFBFB;
  border: solid 2px #D6E4EC;
  color: black;
}
.row .search-bar{ 
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
}

.dropdown-toggle{
  color: black;
  width: 375px;
  text-align: left;
}

#margin{
  margin: 65px;
}

/* Cards */
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
}
.blogCards  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
  padding: 15px;
}



/* Progress Bars */
.bg-info {
    background-color: #6ADCD5!important;
}
.progress-bar {
  color: black;
}




/* Charity Drive Cards */
.card-title{
  text-align: left;
}

.card-description{
  text-align: left;
}

.tracker{
 padding: 0px 30px 30px 30px
 }

.progress{
  margin-bottom: 30px;
  font-size: 12pt;
}


.special-section {
  margin-bottom: 48px;
}



.nav-item.active{
font-type: Mulish;
font-color: black;
}







/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
/*.dropdown-menu {
  left: 1px;
}*/





/*.form-group{
  width: 375px;
}
*/

/*.dropdown {
  width: 375px;
}
*/



/*for the search icon to appear*/
/*.has-search .form-control{
  padding-left: 2.375rem;
}*/



/* Footer Attempt 2 */
#button-addon1 {
  color: #ffc371;
}

.bg-icon {
  background-color: #EBFAF9;  
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-group img{
  padding: 5px;
}
.text-center {
  text-align: center;
}

footer .container {
    background-color: #EBFAF9;  
}



@media screen and (max-width: 997px) and (min-width: 0px) {
  #jumbotronImage {
    background-image:  none;
    width: 0px;
  }
  #pageheaderText {
    width: 100vw;
    z-index: 1;
    background-image: url("../images/BlueRec.png");
}
  .pageheaderText {
    padding: 5%;
    margin-left: 10px;
  }







